<!DOCTYPE html>
<html>
<head>
  <title>Presto</title>
  <%= stylesheet_link_tag    "presto/application", media: "all" %>
  <%= javascript_include_tag "presto/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
 <h1>Presto::Layout</h1>
 <p>
  <%= link_to "Dashboard", dashboard_path  %>
 </p>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
