<h1>Presto::Items::index</h1>

<div class="box panel-default">
  <!-- Default box contents -->
  <div class="panel-heading"> <%= @klass.to_s %> list </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3">
        <%= link_to "create new", new_item_path, class: "btn btn-primary" %>
      </div>
    </div>
    <p>
    </p>
    <table class="table">
      <thead>
        <tr>
          <% @klass.column_names.each do |name|  %>
            <th><%= name %></th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "item", collection: @item_list, as: :model, locals: {klass: @klass} %>
      </tbody>
    </table>
    <%= will_paginate @item_list, renderer: ::BootstrapPagination::Rails %>
  </div>

</div>
<ul>
</ul>

