<h1>Presto::Items::index</h1>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"> <%= @klass.to_s %> list </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3">
        <%= link_to "create new", new_item_path, class: "btn btn-primary" %>
      </div>
    </div>
    <p>
    </p>
    <table class="table">
      <thead>
        <tr>
          <% @klass.column_names.each do |name|  %>
            <th><%= name %></th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item_list.each do |model| %>
          <tr>
            <% @klass.column_names.each do |name|  %>
              <td><%= model.send(name.to_sym)  %></td>
            <% end %>
            <td>
              <%= link_to item_path(@klass, model), method: :delete, data: { confirm: "Are you sure ?" } do %>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @item_list, renderer: ::BootstrapPagination::Rails %>
  </div>

</div>
<ul>
</ul>

